<div class="posts">
  <div class="container">
  	<li><%= link_to "New Post", "posts/new" %></li>
    <% @posts.each do |post|%> 
      <div class="post">
        <h2><%= post.title %></h2> 
        <%= post.description %>
      </div> 
    <% end %>
  </div>
</div>