/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Quicksand|Reenie+Beanie|Sirin+Stencil|Ubuntu');

$nav-bar-color: #4c4c4c;
$link-color: #78c0db;

h1 {
	font-family: 'Reenie Beanie', cursive;
}

h2,h3,h4,p,li {
	font-family: 'Quicksand', sans-serif;
}

.text-field {
  margin: 5px;
  border-radius: 5px;
  color: $nav-bar-color;
}

.create {
  text-align: center;
}

.button {
  border-radius: 5px;
  background-color: $link-color;
  color: white;
  border-style: solid;
  border-color: $nav-bar-color;
}

.navbar2 {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
}

.navbar2 li {
  background: white;
  border: 3px solid white;
  padding: 5px;	
}

.navbar2 li:hover {
  border: 3px solid $link-color;
}

.home-header {
  background-color: $link-color;
  background-size: 100%;
  border-radius: 5px;	
  color: white;
}

.home-header a:hover {
  transition: color 0.5s ease;
  color: $nav-bar-color;
}

h1 {
  font-size: 600%;
  text-align: center;
  .fa {
	position: relative;
  	color: $nav-bar-color;
  	display: inline-block;  	
  }
}

a:link {
  text-decoration: none;
  color: $link-color;
}

a:visited {
  color: $link-color;
}

h1 > a:hover {
  color: white;
}

h1 > a, h1 > a:visited {
  display: inline-block;
  color: white;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 20px 0px 20px;
}

.container-fluid {
	display: inline-block;
}

.navbar {
  background-color: $nav-bar-color;
  border-radius: 5px;
  border-width: 0px;
  width: 100%;
  text-align: center;
}

.navbar-inverse .navbar-nav > li > a {
  color: $link-color;
}

.navbar-inverse .navbar-nav > li > a:hover:after {
  transform: scaleX(1);
}

.navbar-inverse .navbar-nav > li > a:after {
  display: block;
  content: '';
  border-bottom: solid 3px white;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

hr {
  border-width: 6px;
}

.profile {
  text-align: center;
}

#Music {
  border-color: #07ad14;
  background-color: #07ad14;
  color: white;
}
#Art {
  border-color: #072ead;
  background-color: #072ead;
  color: white;
}

#Tech {
  border-color: #ad0808;
  background-color: #ad0808;
  color: white;
}
#Education {
  border-color: #7007ad;
  background-color: #7007ad;
  color: white;
}
#Business {
  border-color: #edd100;
  background-color: #edd100;
  color: white;
}
#Beauty {
  border-color: #f29fc6;
  background-color: #f29fc6;
  color: white;
}
#Fashion {
  border-color: #07adad;
  background-color: #07adad;
  color: white;
}
#Services {
  border-color: #d3670e;
  background-color: #d3670e;
  color: white;
}
#Other {
  border-color: #7a7a7a;
  background-color: #7a7a7a;
  color: white;
}

.blink_me {
  display: inline-block;
  animation: blinker 1s linear infinite;
  font-size: 20px;
  margin: 10px 20px 0px 20px;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

#popup {
    text-align: center;
    background-color: $nav-bar-color;
    color: white;
    display: none;
    position: relative;
    border-radius: 10px;
}

h2 {
	.fa {
		display: inline-block;
		font-size: 20px;
	}
}

#footer {
	text-align: center;
	padding: 50px;
}

.hello {
	font-size: 20px;
	margin: 10px 20px 0px 20px;
}

.newpost {
	text-align: center;
	padding: 20px;
}

.newpost a:hover {
	color: $nav-bar-color;
}

.allheaders {
	text-align: center;
	padding: 50px;
}

.mypost, .myshared, .interest {
	text-align: left;
}

.search {
	float: right;
}

.carousel-caption {
	right: 50px;
	bottom: 50px;
	text-align: right;
	font-family: 'Quicksand', san-serif;
	font-size: 50px;
	position: absolute;
	color: white;
	text-shadow: none;
}

.item {
	max-height: 600px;
}

.carousel-control > .fa {
	position: absolute;
	top: 50%;
}

#sent {
	display: none;
	color: $link-color;
}

#sentprofile {
	padding: 20px 0px 0px 0px;
	color: $link-color;
}

.postcontainer {
	padding: 50px 0px 50px 0px;
}

.profpic {
  border-radius: 180px;
}

.imageupload {
  display: inline-block;
  position: relative;
  left: 20%;
}

.imagecontainer {
  display: inline-block;
  position: relative;
}

.nopic {
  height: 200px;
  width: 200px;
}